@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/about';
@import 'blocks/agent';
@import 'blocks/prices';
@import 'blocks/managers';
@import 'blocks/scheme';
@import 'blocks/slider';
@import 'blocks/questions';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/divider';
@import 'blocks/buttons';
@import 'blocks/call';
@import 'blocks/person-form';

@import 'lib/animate';
@import 'lib/bootstrap-grid.min';

//settings resolution

@import 'base/_media.sass';




* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: 'Roboto',   sans-serif;  
}

