.advantages {
    min-height: 590px;
    background-color: #f3f3f3;
    padding: 58px 0 51px 0;
    

    &_title {
        height: 23px;
        color: #2e2e2e;
        font-size: 26px;
        text-align: center;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;

    }

    &_item {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &_text {
            display: flex;
            width: 409px;
            flex-direction: column;
            margin-left: 17px;
            justify-content: center;
            align-items: flex-start;

            &_title {
                font-size: 16px;
                line-height: 11px;
                font-weight: 700;
                color: $second-color;
                margin: 0;
            }
            &_descr {
                color: #3a3a3a;
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                margin-bottom: 36px;
                
            }
            .no_mb {
                margin-bottom: 0;
            } 
        }
        
    
    }
}