.prices {
    min-height: 954px;
    padding: 53px 0 58px 0;

    &_title {
        margin: 0 auto;
        color: #2e2e2e;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
        text-align: center;
    }

    &_subtitle {
        margin: 17px auto 0 auto;
        color: #2e2e2e;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
    }

    &_item {
        margin-top: 32px;
        border: 1px solid #e9e9e9;
        height: 355px;

        &_title {
            width: 100%;
            height: 61px;
            background-color: #25333c;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            h2 {
                font-size: 16px;
                font-weight: 700;
                line-height: 23px;
                text-transform: uppercase;
                color: #ffffff;

            }
        }
        &_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 14px 0 25px 0;

            img {
                width: 25%;
                height: 54px;
            }
            &_time {
                color: #2e2e2e;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                margin: 12px auto 0 auto;
                text-align: center;
            }
            &_weight {
                text-transform: uppercase;
                margin: 5px auto 0 auto;
                color: #ec644b;
                font-size: 28px;
                line-height: 30px;
                text-align: center;
            }
            &_descr {
                margin: 20px auto 0 auto;
                color: #2e2e2e;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                text-align: center;
            }
        }
    }
    &_footer {
        
        color: #3a3a3a;
        font-size: 28px;
        font-weight: 400;
        line-height: 23px;
        margin: 56px auto 0 auto;
        text-align: center;
    }
    &_rectangle {
        position: relative;
        margin-top: 71px;
        border: 1px #898989 solid;
        width: 100%;
        height: 166px;
        &_round {
            position: relative;
            width: 102px;
            height: 102px;
            border: 1px solid $second-color;
            border-radius: 100%;
            display: flex;
            background: white;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 50%;
            transform: translate(50%,-50%);
            &::before {
                content: '';
                position: absolute;
                right: 101%;
                display: block;
                width: 10px;
                height: 10px;
                background-color: white; 
            }
            &::after {
                content: '';
                position: absolute;
                left: 101%;
                display: block;
                width: 10px;
                height: 10px;
                background-color: white;   
            }       

        }

        &_form {
            display: flex;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translateX(50%);
            input {
                display: block;
                width: 268px;
                height: 45px;
                border: 1px solid rgba(0, 0, 0, 0.21);
                background-color: #ffffff;
                border-radius: 22px;
                margin-left: 5px;
                text-align: center;
            }
        }
         
           
    }
    


}